<div id="mainContainer">
	<header>Webbot</header>
	<div id="recentProjects" class="leftColumn"><h2>Recent projects</h2></div>
	<div id="dragAndDrop" class="centerColumn"><div id="holder"><span id="dragAndDropMessage">Drag and drop your project folder or click <button id="openFolderButton" onclick="chooseFolder()">here</button> to navigate to it.</span><input type="file" style="display:none;" id="folderDialog" nwdirectory /></div></div>
	<div id="configuration" class="rightColumn"><h2>Configuration</h2></div>
</div>
<script src="js/holderControl.js"></script>